# Compiler files
cache/
dist/
out/
zkout/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dependencies
node_modules/

# Deprecated submodule folder
lib/

# Certora Gambit & mutation tests runner
gambit_out/
tempBackup/
testLogs/

# Dotenv file
.env

# OS & IDE
.vscode
.idea
.DS_Store

# Cache files
.prettiercache

