# directories
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
.husky/
artifacts/
broadcast/
build/
cache/
contracts/
coverage/
dependencies/
dist/
foundry-cache/
foundry-out/
lib/
node_modules/
out/
outputs/

# files
*.env
*.log
.eslintignore
.DS_Store
.gitignore
.gitmodules
.nvmrc
.pnp.*
.prettierignore
**/*.sol
coverage.json
foundry.toml
package-lock.json
pnpm-lock.yaml
remappings.txt
repos
reports
scope.txt
soldeer.lock
yarn.lock
cover.webp
