[profile.default]
auto_detect_solc = false
# NOTE: by excluding the metadata hash we make sure future contracts can be partially modified without altering their bytecode.
bytecode_hash = "none" # Disables the metadata
cbor_metadata = false # Diasbles the metadata
evm_version = "cancun"
libs = ["lib", "dependencies"]
optimizer = true
optimizer-runs = 200
out = "out"
script = "script"
solc = "0.8.28"
src = "src"
test = "test"
via_ir = true

[fmt]
bracket_spacing = true
contract_new_lines = false
ignore = [
    # --- Already audited contracts START ---
    'src/bridge/LayerZeroReceiver.sol',
    'src/bridge/interfaces/layerzero/IPool.sol',
    'src/delegate/DelegateEnsoShortcuts.sol',
    'src/delegate/EIP7702EnsoShortcuts.sol',
    'src/delegate/EnsoReceiver.sol',
    'src/factory/interfaces/IEnsoRouter.sol',
    'src/factory/ERC4337CloneFactory.sol',
    'src/helpers/BalancerHelpers.sol',
    'src/helpers/DecimalHelpers.sol',
    'src/helpers/EnsoShortcutsHelpers.sol',
    'src/helpers/ERC20Helpers.sol',
    'src/helpers/MathHelpers.sol',
    'src/helpers/MaverickV2Helpers.sol',
    'src/helpers/PercentageMathHelpers.sol',
    'src/helpers/SignedMathHelpers.sol',
    'src/helpers/SommelierHelpers.sol',
    'src/helpers/SwapHelpers.sol',
    'src/helpers/TupleHelpers.sol',
    'src/helpers/UniswapV4Helpers.sol',
    'src/helpers/WeirollVerifier.sol',
    'src/interfaces/IEnsoRouter.sol',
    'src/libraries/DataTypes.sol',
    'src/paymaster/SignaturePaymaster.sol',
    'src/router/EnsoRouter.sol',
    'src/solvers/BaseSolver.sol',
    'src/solvers/BebopSolver.sol',
    'src/solvers/MinimalWallet.sol',
    'src/utils/Withdrawable.sol',
    'src/AbstractEnsoShortcuts.sol',
    'src/AbstractMultiSend.sol',
    'src/EnsoShortcuts.sol',
    # --- Already audited contracts FINISH ---
]
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
single_line_statement_blocks = "multi"
sort_imports = true
tab_width = 4
wrap_comments = true

[lint]
lint_on_build = false
ignore = [
    'script/BaseSolverDeployer.s.sol',
    'script/BebopSolverDeployer.s.sol',
    'script/ClientDeployer.s.sol',
    'script/DelegateDeployer.s.sol',
    'script/EIP7702EnsoShortcutsDeployer.s.sol',
    'script/ERC20HelpersDeployer.s.sol',
    'script/EnsoReceiverAndPaymasterDeployer.s.sol',
    'script/EnsoReceiverDeployer.s.sol',
    'script/EnsoRouterDeployer.s.sol',
    'script/FullDeployer.s.sol',
    'script/HelpersDeployer.s.sol',
    'script/HyperCoreHelpersDeployer.s.sol',
    'script/LayerZeroDeployer.s.sol',
    'script/MaverickV2HelpersDeployer.s.sol',
    'script/SocketDeployer.s.sol',
    'script/SwapHelpersDeployer.s.sol',
    'script/UniswapV4Deployer.s.sol',
    # --- Already audited contracts START ---
    'src/bridge/LayerZeroReceiver.sol',
    'src/bridge/interfaces/layerzero/IPool.sol',
    'src/delegate/DelegateEnsoShortcuts.sol',
    'src/delegate/EIP7702EnsoShortcuts.sol',
    'src/delegate/EnsoReceiver.sol',
    'src/factory/interfaces/IEnsoRouter.sol',
    'src/factory/ERC4337CloneFactory.sol',
    'src/helpers/BalancerHelpers.sol',
    'src/helpers/DecimalHelpers.sol',
    'src/helpers/EnsoShortcutsHelpers.sol',
    'src/helpers/ERC20Helpers.sol',
    'src/helpers/MathHelpers.sol',
    'src/helpers/MaverickV2Helpers.sol',
    'src/helpers/PercentageMathHelpers.sol',
    'src/helpers/SignedMathHelpers.sol',
    'src/helpers/SommelierHelpers.sol',
    'src/helpers/SwapHelpers.sol',
    'src/helpers/TupleHelpers.sol',
    'src/helpers/UniswapV4Helpers.sol',
    'src/helpers/WeirollVerifier.sol',
    'src/interfaces/IEnsoRouter.sol',
    'src/libraries/DataTypes.sol',
    'src/paymaster/SignaturePaymaster.sol',
    'src/router/EnsoRouter.sol',
    'src/solvers/BaseSolver.sol',
    'src/solvers/BebopSolver.sol',
    'src/solvers/MinimalWallet.sol',
    'src/utils/Withdrawable.sol',
    'src/AbstractEnsoShortcuts.sol',
    'src/AbstractMultiSend.sol',
    'src/EnsoShortcuts.sol',
    # --- Already audited contracts FINISH ---
    'test/**/*.sol',
]

[soldeer]
recursive_deps = true
remappings_generate = false # NB: temporary disabled to avoid compilation issues
remappings_regenerate = false # NB: temporary disabled to avoid compilation issues
remappings_version = true
remappings_prefix = ""
remappings_location = "txt"

[dependencies]
account-abstraction-v7 = { version = "0.7.0", git = "https://github.com/eth-infinitism/account-abstraction.git", rev = "7af70c8993a6f42973f520ae0752386a5032abe7" }
devtools = { version = "0.0.1", git = "https://github.com/LayerZero-Labs/devtools.git", rev = "ac8912867862f6dd737b0febabd8d3cb8f142df7" }
enso-weiroll = { version = "1.4.1", git = "https://github.com/EnsoBuild/enso-weiroll.git", rev = "900250114203727ff236d3f6313673c17c2d90dd" }
forge-std = { version = "1.9.7", git = "https://github.com/foundry-rs/forge-std.git", tag = "v1.9.7" }
layerzero-v2 = { version = "2.0.2", git = "https://github.com/LayerZero-Labs/LayerZero-v2.git", rev = "9a4049ae3a374e1c0ef01ac9fb53dd83f4257a68" }
"@openzeppelin-contracts" = { version = "5.2.0", git = "https://github.com/OpenZeppelin/openzeppelin-contracts.git", rev = "acd4ff74de833399287ed6b31b4debf6b2b35527" }
safe-smart-account = { version = "1.5.0", git = "https://github.com/safe-global/safe-smart-account.git", tag = "v1.5.0"}
safe-tools = { version = "0.2.0", git = "https://github.com/colinnielsen/safe-tools.git", tag = "v0.2.0" }
solady = { version = "0.1.22", git = "https://github.com/Vectorized/solady.git", tag = "v0.1.22" }
v4-core = { version = "4.0.0", git = "https://github.com/Uniswap/v4-core.git", rev = "e50237c43811bd9b526eff40f26772152a42daba" }
v4-periphery = { version = "4.0.0", git = "https://github.com/Uniswap/v4-periphery.git", rev = "9628c36b4f5083d19606e63224e4041fe748edae" }

[rpc_endpoints]
arbitrum = "${ARBITRUM_RPC_URL}"
avalanche = "${AVALANCHE_RPC_URL}"
base = "${BASE_RPC_URL}"
berachain = "${BERACHAIN_RPC_URL}"
bsc = "${BSC_RPC_URL}"
gnosis = "${GNOSIS_RPC_URL}"
hyper = "${HYPER_RPC_URL}"
linea = "${LINEA_RPC_URL}"
mainnet = "${ETHEREUM_RPC_URL}"
monad = "${MONAD_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
plume = "${PLUME_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"
sonic = "${SONIC_RPC_URL}"
zksync = "${ZKSYNC_RPC_URL}"

[etherscan]
arbitrum = { key = "${ARBITRUM_BLOCKSCAN_KEY}" }
avalanche = { key = "${AVALANCHE_BLOCKSCAN_KEY}" }
base = { key = "${BASE_BLOCKSCAN_KEY}" }
berachain = { key = "verifyContract" }
bsc = { key = "${BSC_BLOCKSCAN_KEY}" }
gnosis = { key = "${GNOSIS_BLOCKSCAN_KEY}" }
linea = { key = "${LINEA_BLOCKSCAN_KEY}" }
mainnet = { key = "${ETHEREUM_BLOCKSCAN_KEY}" }
monad = { key = "${MONAD_BLOCKSCAN_KEY}" }
optimism = { key = "${OPTIMISM_BLOCKSCAN_KEY}" }
plume = { key = "${PLUME_BLOCKSCAN_KEY}" }
polygon = { key = "${POLYGON_BLOCKSCAN_KEY}" }
sonic = { key = "${SONIC_BLOCKSCAN_KEY}" }
zksync = { key = "${ZKSYNC_BLOCKSCAN_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
